.wrapper {
	width: 100%;
	position: relative;
	text-align: left;
	background-color: GhostWhite;

}



header {
	clear: both;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

p {
	font-family: 'Lato', sans-serif;
}

nav {
	padding: 0px;
	width: 100%;
	float: right;
	font-family: 'IBM Plex Sans Condensed', sans-serif;

}



nav ul#menu {
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;


}

nav ul#menu li {
	display: block;
	float: left;
	text-align: center;
	position: relative;
	padding: 5px;
}

footer {
	clear: both;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

#footContainer {
	width: 100%;
	border-top: 2px solid black;
}

img {
	width: 100%;
	max-width: 400px;
	height: auto;
	border: 0px;
	text-align: center;
}
#footContainer img {
	width: 50px;
	margin: 0px 10px 15px 0px;
	vertical-align: middle;

}

#headContainer {
	width: 100%;
	border-bottom: 2px solid black;
}

#topLogo {
	padding: 0px;
	width: 100%;
	float: left;
	font-family: 'IBM Plex Sans Condensed', sans-serif;

}

#hi {
	margin-top: 5px;
	margin-bottom: -20px;
	font-size: 175px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;


}

#section {
	font-size: 24px;
}

h1 {
	font-size: 100px;
	margin-bottom: -10px;
	margin-top: -25px;
	font-weight: 300;
	font-family: 'IBM Plex Sans Condensed', sans-serif;


}

h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;


}


#mainContainer {
	width: 100%;
	margin: 0px;
}


#mainContent {
	clear: both;
	max-width: 1200 px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}





/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.push {
    visibility: hidden;
}

@media only screen and (max-width: 480px)
{
		
	.push {
	    display: none;
	}
	
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
	#hi {
	margin-top: -60px;
	margin-bottom: -45px;
	font-size: 175px;
	}
	h1{margin-bottom: -15px;}

}
}





